## -- Universal file extensions -- ##
*.png
*.jpg
*.JPG
*.jpeg
*.gif
*.mp3
*.wav
*.osk
*.zip
*.env
*.json

## -- Specific directories -- ##
!/resources/**/*
!/themes/**/*
!/others/freezer-xmas/**/*
/microblog/posts/**/*
/projects/frdgCanvas/download/**/*

## -- Specific files -- ##
!/guestbook/preview.png
!/guestbook/alert.mp3