@font-face {
    font-family: "mc";
    src: url(font-regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: "mcbold";
    src: url(font-bold.otf);
    font-weight: normal;
}

@font-face {
    font-family: "mcitalic";
    src: url(font-italic.otf);
    font-weight: normal;
}

@font-face {
    font-family: "IBM_VGA";
    src: url(./resources/IBM_VGA.woff);
    font-weight: normal;
}

body {
    font-family: "mc", monospace;
    background-color: #111111;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.35s, color 0.35s;
    background-image: url('background.jpg');
    background-attachment: fixed;
}

body.dark {
    background-color: #101010;
}

#change-theme {
    cursor: pointer;
    border: none;
    background-color: transparent;
    top: 10px;
    right: 10px;
    color: #3b3b3b;
    transition: background-color 0.35s, color 0.35s;
    position: absolute;
    font-size: 0.9rem;
}

#change-button:focus {
    outline: none;
}

#change-theme.dark {
    color: #cfcfcf;
}

#change-theme.light {
    color: #3b3b3b;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: inherit;
}
::-webkit-scrollbar-thumb {
    background-color: #515151;

}
::-webkit-scrollbar-thumb:hover {
    background-color: #515151;

}

.container {
    background-color: #1b1b1b;
    color: #d3d3d3;
    width: 80%;
    max-width: 560px;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: background-color 0.35s, color 0.35s;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: auto;
    z-index: 1;
    border: #000000 2px solid;
}

.container.dark {
    background-color: #191919;
    color: #cfcfcf;
}

h1 a {
    text-align: center;
    margin-bottom: 15px;
    text-emphasis: bold;
    text-decoration: none;
    color: inherit;
    font-family: "mcbold", monospace;
}
h1 a:hover {
    animation: rainbow 4s infinite;
}
h1 a:visited {
    color: inherit;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}
h4 {
    text-align: center;
    font-size: small;
    color: #7a7a7a;
    margin-top: 5px;
    margin-bottom: 30px;
}

a {
    color: #5578a3;
    transition: color 0.35s;
}

a:visited {
    color: #5578a3;
}

a:hover {
    color: #6c55a3;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 5px;
}

#current {
    cursor: not-allowed;
    color: #767676
}

#posts {
    margin: 20px 0;
}

#postlink {
    text-decoration: none;
}

#rss {
    text-align: center;

}

.rss {
    background-color: #d8d8d8;
    color: #3b3b3b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: background 0.35s;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.rss img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    transition: opacity 0.35s ease;
    padding-top: 2px;
}

.rss.dark {
    background-color: #2b2b2b;
    color: #cfcfcf;
}

.rss:hover {
    background-color: #adbecb;
}

.rss.dark:hover {
    background-color: #3f4549;
}

.post {
    background-color: #d8d8d8;
    color: #3b3b3b;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: background 0.35s;
}

.post.dark {
    background-color: #2b2b2b;
    color: #cfcfcf;
}

.post:hover {
    background-color: #adbecb;
}

.post.dark:hover {
    background-color: #3f4549;
}

.post h3 {
    margin: 0 0 10px;
}

.post p {
    margin: 0;
}

#date {
    font-size: small;
    color: #9f9f9f;
    transition: color 0.35s;
    text-align: right;
    padding-bottom: 10px;
}

#date.dark{
    font-size: small;
    color: #5b5b5b;
}

code {
    font-family: "IBM_VGA";
    border-radius: 3px;
    background-color: #dfdfdf;
    color: #60855f
}
body.dark code {
    background-color: #111111;
    color: #56a355
}

::selection {
    background-color: #5578a3;
    color: #ffffff;
}

.speech-bubble {
    position: absolute;
    top: 24px;
    right: 0px;
    padding: 10px 10px;
    border-radius: 5px;
    color: black;
    opacity: 0;
    visibility: hide;
    transition: opacity 0.35s ease, visibility 0.35s ease;
    pointer-events: none;
    z-index: 2;
}

/* Show the tooltip */
.show-tooltip {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    pointer-events: auto;
}

#avatar {
    width: 300px; 
    height: 300px;
    border: 6px solid black;
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Tab styling */
.tab {
    overflow: hidden;
    border-bottom: 2px solid #9a9a9a;
    background-color: #aaaaaa;
    font-family: "mc", monospace;
    justify-content: center;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

body.dark .tab {
    background-color: #101010;
    border-bottom: 2px solid #5a5a5a;
}

li {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #3b3b3b;
    font-family: "mc", monospace;
    flex: 1;
    text-align: center;
}

body.dark .tab button {
    color: #c2c2c2;
}

.tab button:hover {
    background-color: #bcbcbc;
}

body.dark .tab button:hover {
    background-color: #333;
}

.tab button.active {
    background-color: #c4c4c4;
    color: #000;
}

body.dark .tab button.active {
    background-color: #292929;
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    color: #3b3b3b;
    background-color:#c4c4c4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background-color 0.35s ease;
}

body.dark .tabcontent {
    color: #c2c2c2;
    background-color: #131313;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #c4c4c4;
    border-radius: 5px;
    transition: background-color 0.35s ease;
}

body.dark .grid-container {
    background-color: #131313;
}

.grid-item {
    text-align: center;
    font-size: small;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 0px;
    outline: 0px solid #9c9c9c;
    transition: ease-out 0.1s;
}

.grid-item img:hover{
    outline: 4px solid #9c9c9c;
}

body.dark .grid-item img {
    outline: 0px solid #2f2f2f;
}

body.dark .grid-item img:hover{
    outline: 4px solid #2f2f2f;
}

.grid-item p {
    margin-top: 10px;
    margin-bottom: 3px;
    color: #3b3b3b;
}

body.dark .grid-item p {
    color: #c2c2c2;
}

#subp {
    font-size: x-small;
    color: #7a7a7a;
    margin: 0px;
}

body.dark #subp {
    color: #565656;
}

.audio-player {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    width: 300px;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
}

.audio-player button {
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #3b3b3b;
    transition: color 0.3s, transform 0.3s;
}

.audio-player button:hover {
    color: #5578a3;
}

body.dark .audio-player button {
    color: #c2c2c2;
}

body.dark .audio-player button:hover {
    color: #5578a3;
}

.audio-player input[type="range"] {
    flex: 1;
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    background: #aaaaaa;
    cursor: pointer;
}

body.dark .audio-player input[type="range"] {
    background: #333;
}

.audio-player input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #3b3b3b;
    border-radius: 50%;
}

body.dark .audio-player input[type="range"]::-webkit-slider-thumb {
    background: #c2c2c2;
}

.audio-player span {
    font-family: "mc", monospace;
    color: #3b3b3b;
}

body.dark .audio-player span {
    color: #c2c2c2;
}

#iconlist {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#iconlist img {
    width: 40px;
    height: 40px;
    border-radius: 15%;
}

#downloadtext {
    display: flex;
    font-size: small;
    align-items: center;
    justify-content: center;
}

#songname {
    font-size: small;
    align-items: center;
    justify-content: center;
    display: flex;
}

.confetti {
    position: fixed;
    top: 0;
    font-size: 20px;
    color: rgb(231, 231, 231);
    user-select: none;
    pointer-events: none;
    animation-name: fall;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes fall {
    from {
        transform: translateY(0) rotate(0deg);
    }
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes rainbow {
    0% { color: inherit; }
    14% { color: #a37c55; }
    28% { color: #9ea355; }
    42% { color: #56a355; }
    57% { color: #5578a3; }
    71% { color: #6c55a3; }
    85% { color: #a3558e; }
    100% { color: inherit; }
}
